scikit-learn
miditoolkit==0.1.14
fastBPE
dtw-python
nltk
keras
tqdm
pretty_midi
PyYAML
pypianoroll
fairseq==0.10.0
torch==1.3
pypinyin==0.39.1
jieba==0.42.1
tensorboard==2.4.0
scipy
librosa
pyworld
soundfile
pyOpenSSL
icecream==2.1.3
textrank4zh==0.3
midiutil
cnsenti
textblob
fugashi
ipadic
